#web_bg {
    filter: brightness(0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#toc, .category-list {
    padding: 20px;
    top: 4rem;
    border-radius: 10px;
}