.navbar-title {
  outline: none;
  --c: lightseagreen;
  text-shadow: 0 0 10px var(--c), 0 0 20px var(--c), 0 0 40px var(--c), 0 0 80px var(--c), 0 0 160px var(--c);
  animation: animate 5s linear infinite;
}
@keyframes animate{
  to{
      filter: hue-rotate(360deg);
  }
}